html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 800px;
}


/* header style */

header {
    background-color: #FFC914;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px black solid;
}

header a, header a:visited {
    color: black;
    text-decoration: none;
}

header h1 {
    font-size: 40px;
    margin: 0px;
}

header ul {
    padding: 0px;
}

header ul li{
    display: inline-block;
}

header ul li a, header ul li a:visited{
    background-color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    margin: 0px -4px 0px;
    border: 2px solid black;
}

header ul li a:not(#active):hover {
    background-color: black;
    color: white
}

header ul li a#active {
    background-color: rgb(194, 194, 194);
}

header img {
    width: 70px;
    height: 70px;
}

/* main */

main img {
    width: 150px;
    height: auto;
    margin: 50px auto;
    display: block;

}

main a#avatar, main a#avatar:visited {
    background-color: #FFC914;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 2px 2px 3px black;

}

main section#user_info {
    margin-left: 40px;
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
}


/* footer style */

footer {
   background-color: #FFC914;
   text-align: center;
   border-top: 3px black solid;
   width: 100%;
   margin-top: 20px;

}

footer p {
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}
