html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header style */

header {
    background-color: #FFC914;
    margin: 40px -8px;
    padding: 25px;
}

header h1 {
    font-size: 40px;
    float: left;
}

header img {
    width: 70px;
    height: 70px;
}

/* footer style */

footer {
   background-color: #FFC914;
   margin: 0px -8px;
   text-align: center;
   border-top: 3px black solid;
   position: absolute;
   bottom: 0;
   width: 100%;
}

footer p {
    display: inline-block;
    font-weight: bold;
    margin: 20px;
}
