/* body style */
body {
font-family: Arial, Helvetica, sans-serif;
line-height: 1.6;
color:black;
background-color:    #FFFFFF;
}

/* header stle */
header {
    height: 90px;
    border-bottom: 6px solid black;
    background-color:  #FFC914;
    color: #000000;
    padding: 1px 0 ;
}
nav{
    position: fixed;

}
/* section style */
section 
{
    width: 200%;
    height: 100px;
    background-color: #FFE48A;
    border: 23px solid #FFE48A;
    transform: rotate(5deg);
    transform: scale(2,0.5);
    transform: translate(50px,100px);
    transform: skew(20deg,10deg);
}
/* footer style */
footer {
    background-color: #FFC914 ;
    color: #000000;
    text-align: center ;
    padding:3px 950px;

    position:fixed;
    width: 280px;
    bottom: 0px;
    border-color: #000000;
    height: 100px;
    font-family: Impact, Haettenschweiler, ;
    border-top: 6px solid black;
}